<!DOCTYPE html>
<html>
  <head>
    <title>The Zine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <h1><a href="/" class="header">The Zine</a></h1>
  </header>
  <body>
    <% var output = []; %>
    <% for (var i = articles.length - 1; i >= 0; i--) { %>
      <% if (output.indexOf( articles[i]._id ) > -1) { %>
        <% break; %>
      <% } else { %>
        <% var fontColor = articles[i].dark === null ? "black" : "white"; %>
        <% console.log(fontColor) %>
        <% var image = articles[i].background ? articles[i].background : "https://images.unsplash.com/photo-1434064511983-18c6dae20ed5?q=80&fm=jpg&s=c45f3bff08de3f8509e90f66aab9393f" %>
        <div class="article_title" style="background-image: url(<%= image %>)">
          <h2 class="title"><a href="/<%= articles[i]._id%>" style="color: <%= fontColor %>">
            <%= articles[i].title %></a></h2>
        </div>
        <div class="article_excerpt">
          <p><%= articles[i].excerpt %></p>
        </div>
      <% } %>
      <% output.push( articles[i]._id ); %>
    <% } %>
    <form action="/new" method="get">
      <input type="submit" class="add_new" value="NEW ARTICLE">
    </form>
  </body>
</html>
